<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(styles/images/slider/slider-bg-1-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">¡Bienvenido al Rincón Botánico!</h1>
					<h3 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5" style="color: white;">Descubre el fascinante mundo de las plantas en México</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(styles/images/slider/slider-bg-2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Comienza tu viaje botánico</h1>
					<h3 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5" style="color: white;">México posee una rica variedad de plantas. ¡Una de las más grandes del mundo!.<br>Sumérgete con nosotros en un viaje botánico único, donde la belleza se encuentra en cada hoja, pétalo y fruto.</h3>
					<h1>¿Listo para explorar?</h1>
				</div>
			</div>
		</div>
	</div>
</div>