<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>BASE MAESTRA GS1</title>
	<script>
		window.onpageshow = function(){
			fetch('/validar')
			.then(result => result.json())
			.then(rs => {
				console.log(rs)
				var usuario = rs.usuario
				if(!usuario){
					window.location=`/`
				}
			}) 
			.catch(error => {
				console.log("Error: ", error)
			})
		}
	</script>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->

        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-pattern">
			<div class="container clearfix">
				<h1 class="azul"><i class="icon-database"></i> Catalogo de Plantas</h2><br>
			</div>
		</section><!-- #page-title end -->

		<section id="cata" >
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 40px;padding-right: 10px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Plantas según su ciclo de vida</h4>
								<img src="img/plantas-v.jpg" alt="Descripción de la imagen" class="card-img-top">
							</div>
						</div>
						<div>
							<a href="/plantas-cv"><button class="btn btn-primary">Ver</button></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 10px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Plantas según su habitát</h4>
								<img src="img/plantas-i.jpg" alt="Descripción de la imagen" class="card-img-top" style="height: 221px;width: 350px;">
							</div>
						</div>
						<div>
							<a href="/plantas-h"><button class="btn btn-primary">Ver</button></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 10px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Plantas según su utilidad</h4>
								<img src="img/plantas-u.jpg" alt="Descripción de la imagen" class="card-img-top" style="height: 221px;width: 350px;">
							</div>
						</div>
						<div>
							<a href="/plantas-u"><button class="btn btn-primary">Ver</button></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 40px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Plantas según su estructura</h4>
								<img src="img/plantas-e.jpg" alt="Descripción de la imagen" class="card-img-top" style="height: 221px;width: 350px;">
							</div>
						</div>
						<div>
							<a href="/plantas-e"><button class="btn btn-primary">Ver</button></a>
						</div>
					</div>
				</div>
			</div>
			
		</section>
		<section class="cata-com">
			<div class="cont">
				<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 40px;">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center mb-3">
								<div>
									<h4 class="mb-0">Plantas según su reproducción</h4>
									<img src="img/plantas-r.jpg" alt="Descripción de la imagen" class="card-img-top" style="height: 221px;width: 350px;">
								</div>
							</div>
							<div>
								<a href="/plantas-r"><button class="btn btn-primary">Ver</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br><br>
		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	<div id="gotoBottom" class="icon-angle-down"></div>


	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script src="js/components/bs-datatable.js"></script>

	<!-- Bootstrap Select Plugin -->
	<script src="js/components/bs-select.js"></script>

	<!-- Select Splitter Plugin -->
	<script src="js/components/selectsplitter.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>
		$('.selectsplitter').selectsplitter();
	</script>
</body>
</html>