<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>Perfil</title>
	<script>
		window.onpageshow = function(){
			fetch('/validar')
			.then(result => result.json())
			.then(rs => {
				var usuario = rs.usuario
				if(!usuario){
					window.location=`/`
				}
			}) 
			.catch(error => {
				console.log("Error: ", error)
			})
		}
	</script>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->

        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-pattern">
			<div class="container clearfix">
				<h1 class="azul"><i class="icon-user"></i> Perfil</h2><br>
			</div>
		</section><!-- #page-title end -->

		<section id="cata" >
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 40px;padding-right: 10px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Datos Básicos</h4>
							</div>
						</div>
						<div>
							<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datosbasicos" style="background-color: #206b34; "> Editar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 10px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Datos de Interes</h4>
							</div>
						</div>
						<div>
							<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datosi" style="background-color: #206b34; "> Editar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 10px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Actividades</h4>
							</div>
						</div>
						<div>
							<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datosa" style="background-color: #206b34; "> Editar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4 col-xl-3 col-lg-6 col-md-12 col-12" style="padding-left: 10px;padding-right: 40px;">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4 class="mb-0">Plantas</h4>
							</div>
						</div>
						<div>
							<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datosp" style="background-color: #206b34; "> Editar</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br><br>
		<%- include('../partials/modal'); %>
		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	<div id="gotoBottom" class="icon-angle-down"></div>


	<script src="js/jquery.js"></script>
    <script src="js/plugins.min.js"></script>
    <!-- Bootstrap Data Table Plugin -->
    <script src="js/components/bs-datatable.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="js/functions.js"></script>
	
	<script>
        $(document).on('click', '.modal-id-act-u', function () {
            var idUsuario = $(this).attr('idux');
            // Realizar una solicitud AJAX para obtener la información del usuario por su ID
            $.ajax({
                url: '/validar',
                method: 'GET',
                success: function (usuario) {
                    // Mostrar la información del usuario en el modal
                    $('#nombreE').val(usuario.nombre);
					$('#usuarioE').val(usuario.usuario);
					$('#correoE').val(usuario.correo);
					$('#passE').val(usuario.pass);
					$('#idux').val(usuario.idux);
					$('#rolE').val(usuario.rol);

                    // Mostrar el modal después de actualizar los campos
                    $('#datosbasicos').modal('show');
                },
                error: function (error) {
                    console.error('Error al obtener información del usuario:', error);
                }
            });
        });

		$("#form-actualizar").submit(function (e) {
            e.preventDefault();
            data = {
                'idux':$("#idux").val(),
                'nombre': $("#nombreE").val(),
                'usuario': $("#usuarioE").val(),
                'rol': $("#rolE").val(),
                'correo': $("#correoE").val(),
                'pass': $("#passE").val()
            }
            console.log(data)
            let decide = confirm("¿Esta seguro de que desea actualizar?")
            if (decide) {
                $.post('/actualizarU', data, function (rs, res) {
                    if (rs.status) {
                        alert("Datos Actualizados Correctamente!");
                        location.reload();
                    }
                    else alert("Ocurrio un error al actualizar los datos!");
                });
            }
        });

		$(document).ready(function () {
        /* Registrar */
        $("#form-registrar").submit(function (e) {
            e.preventDefault();
            data = {
                'nombre': $("#nombreA").val(),
                'descripcion': $("#descripcionA").val(),
				'estatus': $("#estatusA").val(),
                'fechaCA': $("#fechaCA").val(),
                'fechaFA': $("#fechaFA").val(),
                'idux': $("#idux").val()
            }
            let decide = confirm("¿Esta seguro de que desea Registrar?")
            if (decide) {
                $.post('/registroA', data, function (rs, res) {
                    if (rs.status) {
						console.log(data)
                        alert("Datos Registrados Correctamente!");
						
                        location.reload();
                    }
                    else alert("Ocurrio un error al Registrar los datos!");
                });
            }
        });
        /* Registrar */
    });
    </script>
</body>
</html>