<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Principal</title>

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="styles/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="styles/plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="styles/plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="styles/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="styles/plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="styles/css/style.css">

</head>
<body id="body">

<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
		<!-- logo -->
		<a class="navbar-brand logo" href="/">
			<img loading="lazy" class="logo-default" src="styles/images/logorb2.png" alt="logo" style="height: 50px;"/>
			<img loading="lazy" class="logo-white" src="styles/images/logorb2.png" alt="logo" style="height: 50px;"/>
		</a>
		<!-- /logo -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
			aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav ml-auto text-center"> 
				<li class="nav-item">
					<a class="nav-link" href="/">Principal</a>
				</li>
				<li class="nav-item">
					<a onclick="scrollToSection()" class="nav-link">Sobre nosotros</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/catalog">Catalogo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/inicio_sesion">Iniciar Sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/registro">Registrarse</a>
				</li>
			</ul>
		</div>
	</nav>
    <!-- /main nav -->
  </div>

    <script>
        function scrollToSection() {
            // Utiliza JavaScript para hacer scroll a la sección
            document.getElementById('nosotros').scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</header>
<!--
End Fixed Navigation
==================================== -->

<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(styles/images/slider/slider-bg-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">¡Bienvenido al Rincón Botánico!</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Descubre el fascinante mundo de las plantas en México</p>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(styles/images/slider/slider-bg-2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Comienza tu viaje botánico</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">México posee una rica variedad de plantas. ¡Una de las más grandes del mundo!.<br>Sumérgete con nosotros en un viaje botánico único, donde la belleza se encuentra en cada hoja, pétalo y fruto.<br>¿Listo para explorar?</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="/service">Exṕlorar</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>Lo que Ofrecemos</h2>
          <p>Nos emociona compartir contigo la riqueza y diversidad de plantas con las que contamos. Conoce cuales son las especies más adecuadas para tu hogar y llenalo de vida.</p>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 text-center d-none d-md-block">
        <img loading="lazy" src="styles/images/about/member.png" class="img-fluid inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-alarm-outline"></i>
              <h4>Planifica tus actividades</h4>
              <p>Lleva un mejor control de tus riegos, ingertos y demás actividades para un cuidado optimo.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-search"></i>
              <h4>Encuentra lo que búscas</h4>
              <p>¿Quieres darle vida a tu espacio? ¿O prefieres cultivar tu propio huerto? Encuentra las plantas perfectas para ti.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-checkmark"></i>
              <h4>Tanto para Principiantes como para Expertos</h4>
              <p>Ya seas un principiante entusiasta o un jardinero experimentado, encontrarás recursos adaptados a tu nivel. Desde guías básicas hasta consejos avanzados.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Información Confiable y Útil</h4>
              <p>Nos comprometemos a proporcionarte información precisa y útil para el cuidado de tus plantas, características específicas y curiosidades que te convertirán en un experto botánico.</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->

<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-lg-6">
				<div class="title text-center">
					<h2>Crea una cuenta</h2>
					<p>Accede de manera gratuita a nuestros servicios para usuarios registrados.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">

			<div class="col-md-6 mb-4 mb-md-0">
				<img loading="lazy" src="styles/images/about/about-2.png" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li>Guarda plantas en favoritos para acceder a su información directamente.</li>
					<li>Guarda un inventario de las plantas que posees en tu colección y cúantos ejemplares tienes.</li>
					<li>Planifica tus actividades diárias para un cuidado optimo.</li>
					<li>Obtén reportes semanales para revisar tu progreso con las actividades.</li>
				</ul>
				<a href="/about" class="btn btn-main mt-20">Registrarme</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->

<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<h2>Comienza tu viaje botánico</h2>
				<p>Mantente al día con nuestras últimas publicaciones. Desde nuevas plantas destacadas hasta consejos de temporada, aquí encontrarás contenido fresco cada semana.</p>
				<a href="/contacto" class="btn btn-main">Aprender más</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->

<!--
Start Counter Section
==================================== -->
<section class="counter-wrapper section-sm">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<div class="title">
					<h2>Comparte tu pasión con nosotros</h2>
					<p>Entra en un mundo donde cada hoja cuenta una historia y cada flor es una obra de arte. En "Rincón Botánico", no solo te invitamos a descubrir la increíble diversidad de las plantas en México, sino a ser parte activa de este viaje botánico.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- first count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item">
					<i class="tf-ion-ios-contact"></i>
					<div>
						<span class="counter" data-count="150">25</span>
					</div>
					<h3>Usuarios satisfechos</h3>
				</div>
			</div>
			<!-- end first count item -->

			<!-- second count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item">
					<i class="tf-ion-ios-flower"></i>
					<div>
						<span class="counter" data-count="130">100</span>
					</div>
					<h3>Plantas registradas</h3>
				</div>
			</div>
			<!-- end second count item -->

			<!-- third count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item">
					<i class="tf-ion-ios-email"></i>
					<div>
						<span class="counter" data-count="99">9</span>
					</div>
					<h3>Reseñas positivas</h3>

				</div>
			</div>
			<!-- end third count item -->

			<!-- fourth count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item kill-border">
					<i class="tf-ion-ios-book"></i>
					<div>
						<span class="counter" data-count="250">5</span>
					</div>
					<h3>Guías publicadas.</h3>
				</div>
			</div>
			<!-- end fourth count item -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->

<!-- Start Testimonial
=========================================== -->
		
	<section class="testimonial section" id="nosotros">
		<div class="container">
			<div class="row">				
				<div class="col-lg-12">
					<!-- testimonial wrapper -->
					<div class="testimonial-slider">
						<!-- testimonial single -->
				            
						<div class="item text-center">
                            <h2>SOBRE NOSOTROS</h2>
				            
							<!-- client info -->
							<div class="client-details">
                                <p>Somos un equipo de informáticos que, como tú, no sabíamos por donde empezar. Desde 2023 hemos cultivado nuestra pasión por las plantas y la naturaleza. Estamos aquí para para guiarte en cada paso de tu viaje botánico.</p>
							    <i class="tf-ion-chatbubbles"></i>
                                <h3>MISIÓN</h3><br>
                                <p>Nuestra misión es proporcionar a los amantes de las plantas en México un recurso confiable para descubrir, aprender y compartir conocimientos sobre la flora presente de nuestro país para seguirla cuidando.
                                </p>
                                <h3>COMPROMISO</h3><br>
                                <p>Nos dedicamos a ofrecer información precisa y útil sobre el cuidado de plantas, ya sea que estés dando tus primeros pasos en la jardinería o ya tengas experiencia.
                                </p>
							</div>
							<!-- /client info -->
							<!-- client photo -->
							<div class="client-thumb">
								<img loading="lazy" src="styles/images/client-logo/clients-1.jpg" class="img-fluid" alt="">
							</div>
							<div class="client-meta">
								<h3>Xolio Osorio Jesús Antonio</h3>
								<span>Desarrollador principal</span>
							</div>
							<!-- /client photo -->
						</div>
						<!-- /testimonial single -->
				
						<!-- testimonial single -->
						<div class="item text-center">
							<!-- client info -->
							<div class="client-details">
								<p>Participo en este proyecto porque creo en la belleza de la naturaleza y quiero inspirar a todos a descubrir, aprender y cuidar nuestras plantas.</p>
							</div>
							<!-- /client info -->
							<!-- client photo -->
							<div class="client-thumb">
								<img loading="lazy" src="styles/images/client-logo/clients-2.jpg" class="img-fluid" alt="">
							</div>
							<div class="client-meta">
								<h3>Luna Hernández Gabriel Osvaldo</h3>
								<span>Lider de proyecto</span>
							</div>
							<!-- /client photo -->
						</div>
						<!-- /testimonial single -->
					
						<!-- testimonial single -->
						<div class="item text-center">
							<!-- client info -->
							<div class="client-details">
								<p>Desde niño mi madre me ha inculcado el amor por las plantas, me ha enseñado los cuidados básicos, a tener paciencia y disfrutar de lo que nos ofrece nuestra tierra. Disfruto cultivar mis propias papas, cebollas y otras hiervas para usar en la cocina; así como compartir el conocimiento con otras personas.</p>
							</div>
							<!-- /client info -->
							<!-- client photo -->
							<div class="client-thumb">
								<img loading="lazy" src="styles/images/client-logo/clients-3.jpg" class="img-fluid" alt="">
							</div>
							<div class="client-meta">
								<h3>Prof. González Ramírez Marko Alfonso </h3>
								<span>CEO</span>
							</div>
							<!-- /client photo -->
						</div>
						<!-- /testimonial single -->
					</div>
				</div> 		<!-- end col lg 12 -->
			</div>	    <!-- End row -->
		</div>       <!-- End container -->
	</section>    <!-- End Section -->

<!--
Start Blog Section
=========================================== -->
<section class="blog" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2><span class="color">¿Qué esperas para unirte?</span></h2>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">
			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="styles/images/blog/post-1.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3>Mejora tu estilo de vida</h3>
						<p>El contacto con la naturaleza trae muchos veneficios, la salud que nos brinda no se limita a la física, sino también mental. Disminuye tus niveles de estrés y ansiedad.</p>
						
					</div>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="styles/images/blog/post-2.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3>Justo lo que búscas</h3>
						<p>Descubre plantas que se adapten a tus preferencias y necesidades. Desde las exuberantes ornamentales hasta las útiles plantas comestibles, nuestro Rincón Botánico tiene algo para todos.</p>
					</div>
				</div>
			</article>
			<!-- end single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="styles/images/blog/post-3.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3>Se parte de una comunidad</h3>
						<p>Comparte lo que vayas aprendiendo con otras personas y haz crecer la cultura verde en tu zona urbana.</p>
					</div>
				</div>
			</article>
			<!-- end single blog post -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->

<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
		<!--Poner texto si quieres aqui-->
      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; Copyright 2023. All rights reserved.</h5>
    <h6>diseñado y desarrollado por<a href="/">Rincón Botánico</a></h6>
  </div>
</footer> <!-- end footer -->


<!-- Custom js -->
<script src="styles/js/script.js"></script>

</body>

</html>
