<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Principal</title>

  <link rel="icon" href="img/iconrb.png">
  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="styles/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="styles/plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="styles/plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="styles/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="styles/plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="styles/css/style.css">

</head>
<body id="body">

<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
		<!-- logo -->
		<a class="navbar-brand logo" href="/">
			<img loading="lazy" class="logo-default" src="styles/images/logorb2.png" alt="logo" style="height: 50px;"/>
			<img loading="lazy" class="logo-white" src="styles/images/logorb2.png" alt="logo" style="height: 50px;"/>
		</a>
		<!-- /logo -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
			aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav ml-auto text-center"> 
				<li class="nav-item">
					<a class="nav-link" href="/">Principal</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/CatalogoPrincipal">Catalogo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/servicios">Servicios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/inicio_sesion">Iniciar Sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/registro">Registrarse</a>
				</li>
			</ul>
		</div>
	</nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<section class="single-page-header" style="background-image: url('styles/images/slider/jardin.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Nuestros Servicios</h2>
			</div>
		</div>
	</div>
</section>

<!-- Start Services Section==================================== -->
<section class="services" id="services">
    <div class="container">
        <div class="row no-gutters">
            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2>Nuestros Servicios</h2>
                    <p>Rincón Botánico se enfoca en el cuidado de diversos tipos de plantas proporcionando información que sirva de ayuda
                        a todo aquel que quiera aprender más sobre el tema, y como guía para todos aquellos que ya han tenido plantas a su cuidado.
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-piechart"></i>
                    </div>
                    <h3>Gráficas</h3>
                    <p>Su principal función consiste en la interpretación de los datos de una manera más intuitiva para que los usuarios lleven un correcto seguimiento.
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-alarm-outline"></i>
                    </div>
                    <h3>Alertas</h3>
                    <p>Su principal función consiste en el envio de correos para recordar actividades pendiente, vencidas y conpletadas.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-book-outline"></i>
                    </div>
                    <h3>Actividades</h3>
                    <p>Su principal función consiste en poder registrar Actividades de acuerdo a las guias de cada planta
                        para tener un control y un mejor cuidado de estas.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-briefcase-outline"></i>
                    </div>
                    <h3>Seguimiento de Actividades</h3>
                    <p>El seguimiento de las actividades será un conjunto de las diversos elementos como las gráficas y activiades
                        Las cuales formarán un dashboard propio para cada usuario.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-search3"></i>
                    </div>
                    <h3>Busqueda por filtros</h3>
                    <p>Su rpincipal función consiste en realizar búsquedas dependiendo del interes del usuario, ya sea por el tipo de planta
                        por categorias, o para visualizar actividades de ciertos periodos de tiempo.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-copy-outline"></i>
                    </div>
                    <h3>Reportes</h3>
                    <p>Su principal función consiste en la generación de reportes en un formato pdf y este podrá
                        realizarse en intervalos de tiempo para más detalle.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->


<footer id="footer" class="bg-one">
  	<div class="footer-bottom">
    	<h5>&copy; Copyright 2023. All rights reserved.</h5>
    	<h6>diseñado y desarrollado por<a href="/">Rincón Botánico</a></h6>
  	</div>
</footer> <!-- end footer -->


 <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="styles/plugins/jquery/jquery.min.js"></script>
    <!-- Parallax -->
    <script src="styles/plugins/parallax/jquery.parallax-1.1.3.js"></script>
    <!-- Owl Carousel -->
    <script src="styles/plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="styles/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="styles/plugins/smooth-scroll/smooth-scroll.min.js"></script>

	<script src="styles/js/script.js"></script>

</body>

</html>
